<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediPoint- Booking Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-blue-200">
    {{#mesg1}}
    <div class= 'h-44 mt-8 ml-8 mr-8 border border-gray-600 rounded-md bg-green-100 text-center'>
          <p class="mb-12 mt-9">Your appointment is booked successfully. Please check the upcoming appointments tab in your dashboard.</p>
           <a href="/dashboard/bookAppointments" class="text-gray-50  hover:bg-red-700 bg-red-500 px-5 py-3"> Back</a>
    </div>
    {{/mesg1}}

    {{#mesg2}}
    <div class= 'h-44 mt-8 ml-8 mr-8 border border-gray-600 rounded-md bg-green-100 text-center'>
          <p class="mb-12 mt-7">Your appointment with the doctor for the time is already booked <br> OR <br> you have another appointment for that day. Please check the upcoming appointments tab in your dashboard.</p>
           <a href="/dashboard/bookAppointments" class="text-gray-50  hover:bg-red-700 bg-red-500 px-5 py-3"> Back</a>
    </div>
   {{/mesg2}}

   {{#mesg3}}
    <div class= 'h-44 mt-8 ml-8 mr-8 border border-gray-600 rounded-md bg-green-100 text-center'>
          <p class="mb-12 mt-7">Please select a suitable appointment type. Check your OPD card history with the doctor in the Medical Records tab.</p>
           <a href="/dashboard/bookAppointments" class="text-gray-50  hover:bg-red-700 bg-red-500 px-5 py-3"> Back</a>
    </div>
   {{/mesg3}}


</body>

</html>